@charset "UTF-8";

body {
    display: flex;
    height: 100vh;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(97, 176, 246);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 3em;
}

section {
    background-color: white;
    padding:10px;
    border-radius: 10px;
    box-shadow:5px 5px 10px  rgba(0, 0, 0, 0.443)
}

#containervet {
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px 10px;
    overflow-y: scroll;
}

#containervet > p {
    margin: 2px 4px;
}

footer{
    color: white;
}